/* estilos globais */

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
}

h1 a {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    font-size: 46px;
    color:rgb(43, 42, 42);
    align-self: flex-end;
    letter-spacing: 4px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: rgb(43, 42, 42);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
    font-weight: 400;
    font-size: 34px;
}

p {
    font-size: 18px;
    color: rgb(43, 42, 42);
    line-height: 28px;
    margin-top: 20;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(43, 42, 42);
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}



/* header */

.header {
    flex-direction: row;
    height: 80px;
    width: auto;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0 30px;
    z-index: 10;
}

.menu {
    height: auto;
    width: auto;
    flex-direction: row;
    gap: 15px;
    margin-right: 50px;
    margin-left: auto;

}

/* center */

.center {
    width: 100%;
    justify-content: space-around;
}

.produtos{
	padding: 70px;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 16%;
	vertical-align: top;
	margin: 0 1.5%;
    margin-left: 6%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #1DD3B0;
	border-radius: 10px;
}

.produtos li:hover{
	border-color: #086375;
}

.center li{
    position: relative;
    box-sizing: border-box;
    transition: all 400ms ease;
    background-color: #B2FF9E;
}

.produtos li:active{
	border-color: #1DD3B0;
}

.center img{
    border-radius: 30px;
    margin-bottom: 10px;
}
 
.produtos li:hover h2{
	font-size: 28px;
    transition: 1s;
}


.produtos h2{
    margin-bottom: 35%;
	font-size: 22px;
	font-weight: bold;
}

.produto-descricao{
	font-size: 18px;
}

.produtos li a{
    display: inline-block;
    margin: 10px;
}


/* footer */

.footer {
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    bottom: 0;
    background-color: #B2FF9E;
    width: auto;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway';
    letter-spacing: 2px;
}

.footer a {
    font-weight: 600;
    letter-spacing: 1px;
}

.cibus, .quem-somos, .trabalhe-conosco, .contato, .redes {
    flex-direction: column;
    line-height: 22px;
    font-size: 14px;
}

.redes {
    margin-right: 30px;
    margin-left: auto;
}

.icones {
    flex-direction: row;
    gap: 20px;
    margin-left: auto;
}

@media (max-width: 600px) {
    
    .footer {
        gap: 15px;
    }

    .cibus, .quem-somos, .trabalhe-conosco, .contato {
        width: 120px;
    }
}

@media (max-width: 500px) {
    .footer {
        gap: 15px;
        flex-direction: column;
    }

    .cibus, .quem-somos, .trabalhe-conosco, .contato {
        width: auto;
    }

    .redes, .icones {
        margin-right: auto;
        margin-left: 0;
    }
}