/* estilos globais */


html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div {
    display: flex;
}

h1 a {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    font-size: 46px;
    color:rgb(43, 42, 42);
    align-self: flex-end;
    letter-spacing: 4px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: rgb(43, 42, 42);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
    text-align: left;
    font-weight: 400;
    font-size: 34px;
}

p {
    font-size: 18px;
    color: rgb(43, 42, 42);
    line-height: 28px;
    margin-top: 20;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(43, 42, 42);
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}




/* header */

.header {
    flex-direction: row;
    height: 80px;
    width: auto;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0 30px;
    z-index: 10;
}

.menu {
    height: auto;
    width: auto;
    flex-direction: row;
    gap: 15px;
    margin-right: 50px;
    margin-left: auto;

}


/* center */

.center {
    width: 100%;
}

.formF{
    width: 80vw;
    height: 1055px;
    margin-top: 40PX;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(246, 246, 246);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 2%;
}
/*Opções de dieta*/
#opCont{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    background-color: #B2FF9E;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

#opD{
    align-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*Opcoes de plano preamium*/

#separa{
    width: 40vw;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

#opS{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    align-self: center;
}

#traco{
    width: 8vw;
    height: 3px;
    background-color: #086375;
    align-self: center;
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 2px;
}

#bloco1{
    justify-content: space-evenly;
}

#bloco1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 260px;
    border: 3px solid #086375;
    border-radius: 2%;
    margin-bottom: 30px;
}

#bloco1 div:hover{
    border: 3px solid #1DD3B0;
}


#bloco1 div h3{
    text-align: center;

}

#onivoro span{
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

#vegan span{
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

#bloco1 div span{
    justify-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#onivoroImg{align-self: center;}

#veganImg{align-self: center;}

#bloco2{
    justify-content: space-evenly;
}

#bloco2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 260px;
    border: 3px solid #086375;
    border-radius: 2%;
}

#bloco2 div:hover{
    border: 3px solid #1DD3B0;
}

#CarneBranca span{
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

#vegetariano span{
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

#bloco2 div h3{
    text-align: center;
}

#bloco2 div span{
    justify-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#vegetarianoImg{align-self: center;}

#CarneBrancaImg{align-self: center;}

#bloco3{
    justify-content: space-evenly;
}

#bloco3 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 260px;
    border: 3px solid #086375;
    border-radius: 2%;
}

#bloco3 div:hover{
    border: 3px solid #1DD3B0;
}

#bloco3 div h3{
    text-align: center;
}

#bloco3 div span{
    justify-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
}

#massa span{
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

#magrao span{
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

#massaImg{align-self: center;}

#magraImg{align-self: center;}

#onivoroImg{
    width: 110px;
    height: 65px;
    margin-bottom: 40px;
}

#veganImg{
    width: 110px;
    height: 105px;
}

#vegetarianoImg{
    width: 110px;
    height: 88px;
    margin-bottom: 17px;
}

#CarneBrancaImg{
    width: 110px;
    height: 80px;
    margin-bottom: 25px;
}

#massaImg{
    width: 110px;
    height: 85px;
    margin-bottom: 20px;
}

#magraImg{
    width: 110px;
    height: 101px;
    margin-bottom: 4px;
}


/* planos*/

#planos{
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    align-self: center;
}

#adesao{
    flex-direction: column;
    margin-left: 30px;
    color: white;
}

#adesaoB{
    flex-direction: column;
    margin-left: 30px;
    color: white;
}

#fidelidade{
    flex-direction: column;
    margin-left: 30px;
    color: white;
}

#fidelidadeB{
    flex-direction: column;
    margin-left: 16px;
    color: white;
}

#mensalidade{
    flex-direction: column;
    margin-left: 30px;
    color: white;
}

#mensalidadeB{
    flex-direction: column;
    margin-left: 16px;
    color: white;
}

#planoB{
    margin-bottom: 30px;
    background-color: #086375;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-size:0.87rem;
}

#planoP{
    margin-bottom: 30px;
    background-color: #086375;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-size:0.87rem;
}

#planoI{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:27vw;
}

#primium{
    margin-left: 1vw;
}

#basico{
    margin-left: 1vw;
}

.b{
    color: white;
}

.p{
    color: white;
}

/*restricoes alimentares*/

#rest{
    display: flex;
    flex-direction: column;
}

#rest input{
    align-self: center;
}

#rest span{
    justify-self: center;
    margin-bottom: 20px;
}

#restri{
    background-color: #B2FF9E;
    border-color: #086375;
    border: 2px solid;
    border-radius: 8px;
    width: 30vw;
    height: 25px;
    text-align: center;
}

/*formulario*/


#fundoForm{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

#blocoD1{
    justify-content: center;
}

.input{
    background-color: #B2FF9E;
    border-color: #086375;
    border: 2px solid;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 14vw;
    height: 25px;
    padding-left: 10px;
}

#emailIn{
    background-color: #B2FF9E;
    border-color: #086375;
    border-radius: 8px;
    width: 30.8vw;
    height: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#bairroIn{margin-left: 20px;}

#numeroIn{margin-left: 20px;}

#estadoIn{margin-left: 20px;}

#idadeIn{margin-left: 20px;}

#senhaCIn{margin-left: 20px;}

.i{
    align-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

#cep{
    justify-content: space-around;
}

#email{
    justify-content: space-around;
}

#cepIn{
    background-color: #B2FF9E;
    border-color: #086375;
    border-radius: 8px;
    width: 30.8vw;
    height: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#cepIn ::-webkit-input-placeholder{
    text-align: center;
}


/*botão cadastro*/
#cad{
    width: 100px;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Raleway';
    border-radius: 20px;
    align-self: center;
    background-image: linear-gradient(45deg, #b7d390, #bf82c9, #6fb4c2);
    border: 3px solid #000000;
    display: none;
}

#cad:hover{
    background-image: none;
    background-image: linear-gradient(315deg, #b7d390, #bf82c9, #6fb4c2);
}

/* footer */

/* footer *//* animação ondas*/



.fut{
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
}

.wave-4{
    animation: moveWave4 3s ease-in-out infinite alternate;
}
@keyframes moveWave4 {
    from{
        transform: translateX(-1400px);
        transform: scale(1.1);
    }to{
        transform: translateX(0);
        transform: scaleX(1);
    }
}

.wave-3{
    animation: moveWave3 1.3s 1.6s ease-in-out infinite alternate;
}
@keyframes moveWave3 {
    from{
        transform: translateX(-2800px);
        transform: scaleX(1.1);
    }to{
        transform: translateX(1800px);
        transform: scaleX(1);
    }
}

.wave-2{
    animation: moveWave2 3.3s 1.1s ease-in-out infinite alternate;
}
@keyframes moveWave2 {
    from{
        transform: translateX(-410px);
    }
}

.wave-1{
    animation: moveWave1 1.2s 0.7s ease-in-out infinite alternate;
}
@keyframes moveWave1 {
    from{
        transform: translateX(-2000px);
        transform: scaleX(1.2);
    }to{
        transform: translateX(800px);
        transform: scaleX(1.1);
    }
}


.footer {
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    background-color: #B2FF9E;
    width: auto;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway';
    letter-spacing: 2px;
}

.footer a {
    font-weight: 600;
    letter-spacing: 1px;
}

.cibus, .quem-somos, .trabalhe-conosco, .contato, .redes {
    flex-direction: column;
    line-height: 22px;
    font-size: 14px;
}


.redes {
    margin-right: 30px;
    margin-left: auto;
}

.icones {
    flex-direction: row;
    gap: 20px;
    margin-left: auto;
}

@media(max-width: 1400px){
    #formF{
       height: 1075px;
    }
    
    #bloco1 div{
        width: 220px;
        height: 260px;
    }

    #bloco2 div{
        width: 220px;
        height: 260px;
    }

    #bloco3 div{
        width: 220px;
        height: 270px;
    }
}

@media(max-width: 1280px){
    #planoB{
        flex-direction: column;
    }

    #planoP{
        flex-direction: column;
    }

    #planoI{
        width: 100%;
    }

    #basico{
        margin: 0;
    }

    #primium{
        margin: 0;
    }

    #planoI{justify-content: space-evenly;}

    #adesaoB{margin: 0;}

    #fidelidadeB{margin: 0;}

    #mensalidadeB{margin: 0;}

    #adesao{margin: 0;}

    #fidelidade{margin: 0;}

    #mensalidade{margin: 0;}
}

@media(max-width: 1215px){

    #bloco1 div{
        width: 200px;
        height: 260px;
    }

    #bloco2 div{
        width: 200px;
        height: 260px;
    }

    #bloco3 div{
        width: 200px;
        height: 275px;
    }
}

@media (max-width: 600px) {
    
    .footer {
        gap: 15px;
    }

    .cibus, .quem-somos, .trabalhe-conosco, .contato {
        width: 120px;
    }
}

@media (max-width: 500px) {
    .footer {
        gap: 15px;
        flex-direction: column;
    }

    .cibus, .quem-somos, .trabalhe-conosco, .contato {
        width: auto;
    }

    .redes, .icones {
        margin-right: auto;
        margin-left: 0;
    }
}